/* Catppuccin Mocha Light */

@define-color base     #EFF1F5;
@define-color surface  #313244;
@define-color overlay  #45475A;

@define-color text     #4C4F69;
@define-color muted    #45475A;

@define-color love     #F38BA8;
@define-color gold     #F9E2AF;
@define-color green    #A6E3A1;
@define-color yellow   #FAB387;
@define-color blue     #89B4FA;
@define-color purple   #F5C2E7;
@define-color cyan     #94E2D5;
@define-color white    #CDD6F4;

