/* Gruvbox Light */

* {
    bg-col:   #F9F5D7;
    bg-alt: #ebdbb2;
    fg-col: #3c3836;
    fg-alt:   #7c6f64;

    red:      #cc241d;
    green:    #98971a;
    yellow:   #d79921;
    blue:     #458588;
    purple:   #b16286;
    aqua:     #689d6a;
    orange:   #d65b0e;

    border:   #3c3836;
    accent:   #d79921;
}

